##############################################################################
# Placeholders
#
# These files exist in the repository as placeholders. But we do not want
# to commit any changes to these files. So we ignore.
#
/ChangeLog
/AUTHORS


##############################################################################
# Python
# From https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

##############################################################################
# Autotools
# From https://github.com/github/gitignore/blob/master/Autotools.gitignore

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1


/config.guess
/config.h.in
/config.h.in~
/config.sub
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/ltmain.sh
/omf.make
/po/
/xmldocs.make
/Makefile
/config.status

no changes added to commit (use "git add" and/or "git commit -a")
