.metadata
*.pyc
prepare.sh
.svn
environment.py
i18n.py
compile
*.patch
*~
*.swp
*.dropbox
*.Documents
*.Proporsal
*.test
*.Videos
*.tarballs
*.planner
*.pylint

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

Makefile
Makefile.in
autom4te.cache
autom4te.cache
autom4te.cache
autom4te.cache
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
mousetrap.desktop
omf.make
po/*.gmo
py-compile
stamp-h1
xmldocs.make
docs/doxygen/Doxyfile
po/stamp-it
src/mousetrap/mousetrap
po/Makefile.in.in
aclocal.m4
*.py.bak

po/POTFILES

/INSTALL
/.last_install
/.last_built
